# Dependencies
node_modules

# Build outputs
build
dist
.svelte-kit

# Tauri
src-tauri/target

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Env files with secrets
.env.local
.env.*.local

# Temporary files
tmp
*.tmp
